@{
    ViewData["Title"] = "DD";
}
<h3>Destination Detail</h3>
@{
    var info = ViewData["Info"];
}
@if (info != null)
{
    if (Convert.ToBoolean(ViewData["Status"]))
    {
        <div class="alert alert-success" role="alert">
            @info
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            @info
        </div>
    }
}
<form action="/DD/entry" method="post" enctype="multipart/form-data">
    <div class="row">
        <!-- Row 1 -->
        <div class="col-4">
            <div class="mb-3">
                <label class="form-label">Detail photo</label>
                <input type="file" class="form-control" name="photoimg" accept="image/*" id="photoFile" onchange="readURL(this, '#photoPreview')">
                <img src="" alt="No Image" id="photoPreview" class="square-photo img-fluid" height="400" width="400">
            </div>
        </div>
        <div class="col-4">
            <div class="mb-3">
                <label class="form-label">Gallery 1</label>
                <input type="file" class="form-control" name="gallery1" accept="image/*" id="gallery1File" onchange="readURL(this, '#gallery1Preview')">
                <img src="" alt="No Image" id="gallery1Preview" class="square-photo img-fluid" height="400" width="400">
            </div>
        </div>
        <div class="col-4">
            <div class="mb-3">
                <label class="form-label">Gallery 2</label>
                <input type="file" class="form-control" name="gallery2" accept="image/*" id="gallery2File" onchange="readURL(this, '#gallery2Preview')">
                <img src="" alt="No Image" id="gallery2Preview" class="square-photo img-fluid" height="400" width="400">
            </div>
        </div>
    </div>
   

  
    <div class="row">
        <div class="col-4">
            <div class="mb-3">
                <label class="form-label">Destination type</label>
                <select class="form-select" name="DD01">
                    <option selected>Select Destination</option>
                    @foreach (var DT in ViewBag.DTdata)
                    {
                        <option value="@DT.Id">@DT.DT01</option>
                    }
                </select>
            </div>
        </div>
      
            <div class="col-4">
                <div class="mb-3">
                    <label class="form-label">Tag </label>
                    <select class="form-select" name="DD07">
                        <option selected>Select Tag</option>
                        @foreach (var TG in ViewBag.TGdata)
                        {
                            <option value="@TG.Id">@TG.TG01</option>
                        }
                    </select>
                </div>
            </div>
        <div class="col-4">
            <div class="mb-3">
                <label class="form-label">Description</label>
                <input type="text" class="form-control" placeholder="Type Description" name="DD02" required>
            </div>
        </div>
    </div>
   
  
    <div class="row">
        <div class="col-4">
            <div class="mb-3">
                <label class="form-label">Prices Includes</label>
                <input type="text" class="form-control" placeholder="Type Prices" name="DD04" required>
            </div>
        </div>
        <div class="col-4">
            <div class="mb-3">
                <label class="form-label">Departure & Location</label>
                <input type="text" class="form-control" placeholder="Type Departure & Location" name="DD05" required>
            </div>
        </div>
        <div class="col-4">
            <div class="mb-3">
                <label class="form-label">Average Reviews</label>
                <input type="text" class="form-control" placeholder="Type Average Reviews" name="DD06" required>
            </div>
         </div>
       
    </div>
    <div class="row">
      
        <div class="col-4">
            <div class="mb-3">
                <label class="form-label">Team Member</label>
                <select class="form-select" name="DD10">
                    <option selected>Select Team Member</option>
                    @foreach (var TM in ViewBag.TMdata)
                    {
                        <option value="@TM.Id">@TM.TM01</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-4">
            <div class="mb-3">
                <label class="form-label">Travel Type</label>
                <select class="form-select" name="DD11">
                    <option selected>Select Travel Type</option>
                    @foreach (var TT in ViewBag.TTdata)
                    {
                        <option value="@TT.Id">@TT.TT01</option>
                    }
                </select>
            </div>
        </div>
    </div>

 
        <button type="submit" class="btn btn-primary me-2">Entry</button>
    <a href="/DD/list" class="btn btn-primary">Go to list</a>
   
</form>

@section scripts {
    <script type="text/javascript">
        function readURL(input, imgSelector) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.querySelector(imgSelector).setAttribute("src", e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}

